services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    restart: unless-stopped
    volumes:
      - ${ROOTFS:-./rootfs}/uptime-kuma/data:/app/data
    ports:
      # <Host Port>:<Container Port>
      - "3001:3001"
